#uc_blox_btn_group_elementor_a25c810_item1{
    background-color: rgb(196, 60, 255);
    color: #fff;
}

#uc_blox_btn_group_elementor_a25c810_item2, #uc_blox_btn_group_elementor_5369d2d_item2{
    background-color: rgb(249, 235, 255);
    color: rgb(196, 60, 255);
}
.elementor-button.elementor-button-link.elementor-size-sm a{
    background-color: rgb(196, 60, 255);
    color: #fff;
}
