.ue-btn-txt{
    /* background-color: rgb(202, 78, 255); */
}
#uc_blox_btn_group_elementor_0d6e0ff_item2, #uc_blox_btn_group_elementor_249690a_item2, #uc_blox_btn_group_elementor_2d43006_item2, #uc_blox_btn_group_elementor_eaf31b4_item2 {
    background-color: rgb(249, 235, 255);
    color: rgb(196, 60, 255);
}
#uc_blox_btn_group_elementor_ea69d96_item1, #uc_blox_btn_group_elementor_249690a_item1, #uc_blox_btn_group_elementor_2d43006_item1, #uc_blox_btn_group_elementor_94e48bb_item1{
    background-color: rgb(196, 60, 255);
    color: #fff;
}
#uc_blox_btn_group_elementor_ea69d96_item2, #uc_blox_btn_group_elementor_94e48bb_item2{
    background-color: rgb(249, 235, 255);
    color: rgb(196, 60, 255);
}
#uc_blox_btn_group_elementor_cc0cbff_item1, #uc_blox_btn_group_elementor_8565277_item1{
    background-color: rgb(196, 60, 255);
    color: #fff;
}
